@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row" style="margin:0 auto; margin-left:200px;">    
        <section style="width: 500px; margin-top: 100px; border-radius: 5px; border:thick">
            <fieldset style="border: solid; border-width: thin; border-radius:10px; box-shadow:10px 10px 8px #000">
                <legend style="width: 150px; border-radius: 5px; background-color: #ae69f5d9; color: #fff; margin-left: 10px; padding-left: 10px;">BSI Login</legend>
                <form id="account" method="post" style="margin-left: 30px; margin-right: 30px;">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </form>
            </fieldset>
        </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
